@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);/*圓體*/

@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);/*Rubik*/

*{
    margin: 0;
    padding: 0;
    font-family: 'cwTeXYen','Rubik',sans-serif;
}
.header{
    text-align: center;
    position: relative;
    height: 200px;
}
.header img{
    opacity: 0.45;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}
.header h1{
    position: absolute;
    width: 60%;
    top: 60px;
    left: 20%;
    font-size: 300%;
}
.content{
    display: flex;
    justify-content: center;
}
.item{
    text-align: center;
    width: 250px;
    margin: 3% 3%;
}
.item img{
    border-radius: 10%;
    width: 250px;
    height: 250px;
}
.text{
    text-align: center;
    border: 3px black solid;
    border-radius: 5%;
    font-size: x-large;
}
button{
    font-size: x-large;
    
    margin: 2%;
    border-radius: 5%;
}